body{
    display:flex;
    justify-content:center;
    
    background-color:#f3f3f3;
}

.container{
    width:420px;
}

.textbox{
    width:420px;
     color:#fff;
     background-color: black;
    padding-top:15px;
    
    border-radius:20px;
    cursor:pointer;
}

.textbox h3{
    font-size:25px;
    text-align:center;
    letter-spacing:2px;

    margin:0;
    margin-bottom:-10px;
    padding:0px;
}

.textbox p{
    padding:0px 0px 20px 20px;
}
.textbox .thirdline{
    font-style: italic;
    letter-spacing:0.5px;
}


.btn{
    width:90%;
    margin-left:5%;

    display:flex;
    justify-content:space-between;
}


.btn button{
    color:gold;
    background:black;
    border-radius:5px;
    padding:7px 17px;
}


.btn button,.again button{
    font-size:19px;
    border:none;
    
    cursor:pointer;
    transition:0.1s;
}

.again{
    display:flex;
    justify-content:center;
}
.again button{
    /* color:white; */
    background:yellow;

    /* box-shadow:3px 3px 2px inset #777; */
    margin-top:10px;
    padding:6px 16px;
    border-radius:7px;
    border:4px double black;
    letter-spacing:1px;
    font-weight:bold;
}







.again button:active{
    transform:translateY(3px);
}
/* .btn button:active{
    transform:translateY(2px);
} */